.cell {
    background: #293E23;
    border: solid 1px #6CAA2F;
    margin: 0.1rem;
    border-radius: 0.5rem;
    height: 100%;
    min-height: 64px;
    flex-basis: 9%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    box-shadow: 0 19px 38px rgba(108, 170, 47, 0.25), 0 15px 12px rgba(41, 62, 35, 0.25);
}

.cell-hovered {
    cursor: pointer;
    background: rebeccapurple;
}

/* this causing a bug, the ev
    background: #6CAA2F;ent listenr is the map instead of the actual player*/
.player {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.player-1 {
    background-size: contain;
    background: transparent url(../../../assets/img/orc.png) no-repeat;
}

.player-2 {
    background-size: contain;
    background: transparent url(../../../assets/img/khorneBerzerker.png) no-repeat;
}


.player-on {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.player-1-on {
    background-size: contain;
    background: rgba(255, 183, 16, 0.47) url(../../../assets/img/orc.png) no-repeat;
}

.player-2-on {
    background-size: contain;
    background: rgba(255, 183, 16, 0.47) url(../../../assets/img/khorneBerzerker.png) no-repeat;
}

.current-player {
    cursor: pointer;
}

.combat {
    background: red;
}

.combat-screen {
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allowed {
    background: #6CAA2F;
    border: solid 1px #6CAA2F;
}

.unavailable {
    background-size: contain;
    background: #991c39 url(../../../assets/img/x.png) no-repeat;
}

.axe {
    background-size: contain;
    background: #000000 url(../../../assets/img/axe.png) no-repeat;
}

/* upg_sword */
.hammer {
    background-size: contain;
    background: #000000 url(../../../assets/img/hammer.png) no-repeat;
}

.sword {
    background-size: contain;
    background: #293E23 url(../../../assets/img/dagger.png) no-repeat;
}

.weapon-allowed {
    border: solid 1px #F0E92B;
}

.health {
    background-size: contain;
    background: url(../../../assets/img/heart.png) no-repeat;
}

.empty-hover {
    cursor: pointer;
    background: #0014ff;
}

.active:hover {
    cursor: pointer;
}


.red {
    background: black;
}

.red:hover {
    background: red;
    cursor: pointer;
}

.empty-clicked {

}


.allowed-weapon {
    background: #000000;
    border: solid 1px #F0E92B;
}


.purple {
    background: #F0E92B;
    border: solid 0.1rem sienna;
}


.oldWeapon {
    border-color: red;
}
