.cell {
    background: #293E23;
    border: solid 1px #6CAA2F;
    height: 60px;
    flex-basis: 8%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.cell-hovered {
    cursor: pointer;
    background: rebeccapurple;
}

/* this causing a bug, the ev
    background: #6CAA2F;ent listenr is the map instead of the actual player*/
.player {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.player-1 {
    background-size: contain;
    background: #6CAA2F url(../../../assets/img/orc.png) no-repeat;
}

.player-2 {
    background-size: contain;
    background: #6CAA2F url(../../../assets/img/khorneBerzerker.png) no-repeat;
}


.player-on {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: contain;
    background: rgba(240, 233, 43, 0.47) url(../../../assets/img/upg_helmet.png) no-repeat;
}

.current-player {
    cursor: pointer;
}

.allowed {
    border: solid 1px #ffb710;
}

.unavailable {
    background-size: contain;
    background: rgba(138, 20, 51, 0.4) url(../../../assets/img/x.png) no-repeat;
}

.axe {
    background-size: contain;
    background: transparent url(../../../assets/img/axe.png) no-repeat;
}

/* upg_sword */
.spear {
    background-size: contain;
    background: transparent url(../../../assets/img/hammer.png) no-repeat;
}

.sword {
    background-size: contain;
    background: transparent url(../../../assets/img/dagger.png) no-repeat;
}

.health {
    background-size: contain;
    background: transparent url(../../../assets/img/heart.png) no-repeat;
}

.empty-hover {
    cursor: pointer;
    background: #0014ff;
}

.active:hover {
    cursor: pointer;
}


.red {
    background: black;
}

.red:hover {
    background: red;
    cursor: pointer;
}

.empty-clicked {

}
