.cell {
    background: #293E23;
    border: solid 1px #6CAA2F;
    height: 60px;
    flex-basis: 8%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.cell-hovered {
    cursor: pointer;
    background: rebeccapurple;
}

/* this causing a bug, the event listenr is the map instead of the actual player*/
.player {
    border: solid 2px #ffb710;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: contain;
    background: url(../../../assets/img/upg_helmet.png) no-repeat;
}


.player-on {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: contain;
    background: transparent url(../../../assets/img/upg_helmet.png) no-repeat;
}

.current-player {
    cursor: pointer;
    border: solid 0.1em red;
}

.allowed {
    background: rgba(255, 169, 16, 0.4);
}

.unavailable {
    background-size: contain;
    background: #8a1433 url(../../../assets/img/map.png) no-repeat;
}

.weapon {
    background-size: contain;
    background: transparent url(../../../assets/img/axe.png) no-repeat;
}

.empty-hover {
    cursor: pointer;
    background: #0014ff;
}

.active {
    background: #F0E92B;
}

.active:hover {
    cursor: pointer;
}


.red {
    background: black;
}

.red:hover {
    background: red;
    cursor: pointer;
}

.empty-clicked {

}
