.cell {
    background: #293E23;
    border: solid 0.1em #6CAA2F;
    height: 55px;
    width: 55px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 1.2em;
    -moz-border-radius: 1.2em;
    border-radius: 1.2em;
}

.cell:hover {
    cursor: pointer;
    opacity: 0.8;
}