
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* typography  */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "Gloria Hallelujah", Arial, sans-serif;
    color: purple;
}

/* sec */
/* sec */

.game {
    height: 100vh;
}

.current-screen {
    height: 100%;
}