
html, body {

    margin: 0;
    padding: 0;
    height: 100%;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(20,82,65,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(20,82,65,1) 50%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(20,82,65,1) 50%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(20,82,65,1) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(20,82,65,1) 50%, rgba(0,0,0,1) 100%);
}


/* typography  */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "Gloria Hallelujah", Arial, sans-serif;
}


#game {
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.current-screen {
    display: flex;
}

.map {
    background: black;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid 0.1rem white;
}


.main {
    width: 80%;
    margin: 0 auto;
}

figure {
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.1rem #293E23;
    padding: 0.1rem;
}

img {
    height: auto;
    width: 100%;
}

.pane {
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 0.1rem white;
    border-bottom: solid 0.1rem white;
    padding: 1rem;
    height: 100%;
    box-shadow: 0 19px 38px rgba(108, 170, 47, 0.25), 0 15px 12px rgba(41, 62, 35, 0.25);
}

.left {
    border-left: solid 0.1rem white;
}

.right {
    border-right: solid 0.1rem white;
}

.player-name {
    text-align: center;
}

.player-name:after {
    display: block;
    margin: 0 auto;
    content: "";
    height: 2px;
    width: 50%;
    background: rgba(20,82,65,1);
}

.stats {
    list-style-type: none;
    padding-left: 0;
    justify-content: space-between;
}

.stats li {
    padding: 0.4rem;
    margin: 0.2rem;
    width: 90%;
    text-align: center;
}

.health-bar {
    background: rgba(20,82,65,1);
    color: #FFFFFF;
    border: solid 0.2rem #000000;
    padding: 0.2rem;
    margin: 0.4rem auto;
    width:100%;
}

.attack-bar {
    background: #F0E92B;
    border: solid 0.2rem #000000;
    padding: 0.2rem;
    color: #000000;
    margin: 0.4rem auto;
    width:100%;

}

.defense-bar {
    background: #333333;
    color: #FFFFFF;
    border: solid 0.2rem #000000;
}


.profile {
    transition: all 0.3s ease-in-out;
    background: #000;
    border: solid 0.2rem rgba(20,82,65,1);
    color: #F0E92B;
    box-shadow: 0 19px 38px rgba(108, 170, 47, 0.25), 0 15px 12px rgba(41, 62, 35, 0.25);
}

.pane-body {
    padding: 0.2rem;
}



.active-pane {
    background: rgba(20,82,65,1);
    border-top: solid 0.1rem #F0E92B;
    border-bottom: solid 0.1rem #F0E92B;
}


.tag {
    text-align: center;
    color: #F0E92B;
    padding: 0.4rem;
    border: solid 0.04rem #FFFFFF;
}

.turn {
    text-align: center;
    color: #F0E92B;
    padding: 0.4rem;
    width: 95%;
    margin: 0 auto 1rem;
    border: solid 0.04rem #FFFFFF;
}

.first {
    background: rgba(20,82,65,1);
    color: #F0E92B;
}

.fight-heading {
    text-align: center;
    border: solid 0.1rem #293E23;
    padding: 0.4rem;
    width: 50%;
    margin: 0 auto;
}

.fight-screen {
    height: 100%;
    border-left: solid 0.1rem #FFFFFF;
    border-right: solid 0.1rem #FFFFFF;
    display: none;
}

.fight-screen-head {
    padding: 2rem;
    background: #000;
    color: #FFFFFF;
    border-bottom: solid 0.1rem #FFFFFF;
    border-top: solid 0.1rem #FFFFFF;

}

.fight-screen-body {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.1rem #FFFFFF;
}

.fight-screen-body div {
    margin: 0.5rem;
}

.actions {
    color: #991c39;
}

.attack-button {
    background: #F0E92B;
    padding: 0.5rem;
    width: 95%;
    margin: 0.2rem;
    border: solid 0.2rem #000000;
}

.defense-button {
    background: #333333;
    padding: 0.5rem;
    width: 95%;
    margin: 0.2rem;
    border: solid 0.2rem #000000;
    color: #FFFFFF;
}


button:hover {
    cursor: pointer;
}

.attacker-one {
    border-color: #F0E92B;
}

.attacker-two {
    border-color: #F0E92B;
}


.attacked {
    background: #991c39;
    border: solid 0.1rem #991c39;
}

.victory-screen {
    display: none;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


.victory {
    background: #000000;
    height: 100%;
    color: #FFFFFF;
    margin: 0 auto;
    border: solid 0.1rem #F0E92B;
}

.victory-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.victory-options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}


.exit-button, .restart-button {
    background: #000000;
    color: #F0E92B;
    border: solid 0.1rem #FFFFFF;
    padding: 0.5rem;
    width: 300px;
    margin: 0.4rem;
}


li {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}


.hidden {
    pointer-events: none;
    border: solid 0.2rem #000000;
    background: #000000;
    opacity: 0.2;
    color: #FFFFFF;
}
